---
import { getCollection } from "astro:content";
import { contentfulClient } from "../lib/contentful";

import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from'../components/Hero.astro';
import Quote from "../components/Quote.astro";

const projects = await getCollection("work", ({ data }) => {
  return data.draft !== true;
});

function shuffle(array) {
  let counter = array.length;

  // While there are elements in the array
  while (counter > 0) {
    // Pick a random index
    let index = Math.floor(Math.random() * counter);

    // Decrease counter by 1
    counter--;

    // And swap the last element with it
    let temp = array[counter];
    array[counter] = array[index];
    array[index] = temp;
  }

  return array;
}

const quotes = await contentfulClient
  .getEntries({
    content_type: "testimonial",
  })
  .then((response) => {
    return {
      items: shuffle(response.items),
    };
  });
---

<HomeLayout>
  <Hero title="Dan Matthew">
    <div slot="header-extras" class="flow">
    <p>
      Interaction designer and developer of <b>accessible</b> and <b
        >user-centred</b
      > digital products.
    </p>
    <p>
      I champion and teach <b>accessibility</b> to design, engineering, and product
      teams.
    </p>
    <p>
      I use my experience in both design and development to bridge the knowledge gap between teams, using <b>design systems</b>, <b>web components</b>, and <b>prototypes</b> to amplify the value of my design practice.
    </p>
    </div>
  </Hero>
  <main class="flow wrapper" id="content">
    <section class="wrapper--projects">
      <h2 class="visually-hidden">Work</h2>
      <ol class="projects grid">
        {
          projects.map((project) => (
            <li class="card card--project">
              <div class="project-listing">
                <div class="card__cover">
                  <div class="thumb-grid">
                    {[...Array(9)].map(() => (
                      <div class="thumb-grid__thumb">
                        <img
                          src={project.data.img}
                          alt=""
                          class="cover__thumb"
                          height="50"
                          width="50"
                        />
                      </div>
                    ))}
                  </div>
                </div>
                <div class="card__content flow">
                  <a href={`/work/${project.slug}`} class="title">
                    {project.data.title}
                  </a>
                  <div class="meta">
                    <span class="org">Talis</span>
                    <time
                      class="date"
                      datetime={project.data.publishDate.toISOString()}
                    >
                      {project.data.projectDate}
                    </time>
                  </div>
                  <p>{project.data.description}</p>
                  <ul class="roles" role="list">
                    {project.data.tags.map((tag) => (
                      <li>{tag}</li>
                    ))}
                  </ul>
                </div>
              </div>
            </li>
          ))
        }
      </ol>

      <!-- <div class="card card--example">
        <Browser />
      </div>
      <div class="card card--example">
        <Volume/>
      </div> -->
    </section>

    <section class="talks wrapper--links">
      <h2>Talks</h2>
        <ol role="list" class="flow">
          <li>
            <a href="https://noti.st/danielmatthew/5fk25b/a11y-101">Accessibility 101</a>
            <time class="meta">Feb 2023</time>
          </li>

        <li>
          <a href="https://noti.st/danielmatthew/pocE5Y/accessibility-testing">Accessibility Testing</a>
          <span class="meta">BrumJS, &nbsp; <time>May 2018</time></span>
        </li>

        <li>
          <a href="https://noti.st/danielmatthew/hzSpy0/screenreader-accessibility">Screenreader Accessibility</a>
          <span class="meta">Codelicious, &nbsp;<time>July 2016</time></span>
        </li>

      </ol>
    </section>

    <section class="elsewhere wrapper--links">
      <h2>Elsewhere</h2>
        <ol role="list" class="flow">
          <li>
            <a href="https://talis.com/2020/09/24/why-we-think-accessibility-is-important/" rel="external">Why we think accessibility is important</a>
            <span class="meta">Talis</span>
          </li>

        <li>
          <a href="https://www.codeenigma.com/blog/interview-accessibility-expert-daniel-matthew" rel="external">Interview with an accessibility expert</a>
          <span class="meta">CodeEnigma</span>
        </li>

      </ol>
    </section>

    <div class="wrapper--quotes">
      <section class="quotes">
        <hgroup class="flow">
          <h2>Quotes</h2>
          <p>Some nice things people have said about me</p>
        </hgroup>
        <div class="quote-container js-at-start">
          <div class="quote-scroller" tabindex="0">
            {quotes.items.map((quote) => <Quote quote={quote} />)}
          </div>
        </div>
        <script is:inline>
          const scroller = document.querySelector('.quote-scroller');
          const container = document.querySelector('.quote-container');
          let x = scroller.scrollLeft;

          function updateScroller(scrollPos) {
            const scrollerWidth = scroller.scrollWidth - scroller.clientWidth;

            if (scrollPos === 0) {
              container.classList.remove('js-at-start');
            }

            if (scrollPos > 0 ) {
              container.classList.add('js-at-start');
            }

            if (scrollPos < scrollerWidth) {
              container.classList.add('js-at-end');
            }

            if (scrollPos === scrollerWidth) {
              container.classList.remove('js-at-end');
            }
          }

          scroller.addEventListener('scroll', (event) => {
            x = scroller.scrollLeft;
            updateScroller(x);
          });
        </script>
      </section>
    </div>
  </main>
</HomeLayout>
