---
import { getCollection } from "astro:content";
import { contentfulClient } from "../lib/contentful";

import shuffle from "../utils/shuffle";

import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";
import Notes from "./notes.astro";

const notesWithDate = (await Promise.all(
  (await getCollection("posts", ({ data }) => {
    return data.published !== false;
  }))
  .map(async (note) => ({
    ...note,
    renderedContent: note.data.link ? await note.render() : null
  }))
))
  .sort((a, b) => {
    return b.data.publishedDate?.valueOf() - a.data.publishedDate?.valueOf();
  })
  .slice(0, 10);

const projects = await getCollection("work", ({ data }) => {
  return data.draft !== true;
});

const quotes = await contentfulClient
  .getEntries({
    content_type: "testimonial",
  })
  .then((response) => {
    return {
      items: shuffle(response.items),
    };
  });


const title = "Accessibility and design systems consultant";
---

<HomeLayout>
  <ol class="content flow posts"  role="list" reversed style="--flow-space: 1rem;">
    {
      notesWithDate.map((note) => (
        <li>
          <time class="meta" datetime={note.data.publishedDate.toDateString()}>{note.data.publishedDate.toLocaleDateString('en-GB')}</time>

          <a href={note.data.link || `/notes/${note.slug}`}>{ note.data.title }</a>

          { note.data.link && note.renderedContent && (
            <div class="note-excerpt">
              <note.renderedContent.Content />
            </div>
          )}
        </li>
      ))
    }
  </ol>

  <ul class="socials" role="list">
    <li>
      <a rel="me external" href="https://photos.danmatthew.co.uk"
        >Photography
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
    <li>
      <a rel="me" href="https://bsky.app/profile/danmatthew.co.uk"
        >Bluesky
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>

    <li>
      <a rel="me external" href="https://adplist.org/mentors/dan-matthew"
        >ADPList
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg></a
      >
    </li>
    <li>
      <a rel="me external" href="https://front-end.social/@danielm"
        >Mastodon
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
    <li>
      <a rel="me external" href="https://github.com/danielmatthew"
        >Github
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
    <li>
      <a rel="me external" href="https://codepen.io/danielmatthew"
        >CodePen
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
    <li>
      <a rel="me external" href="https://linkedin.com/in/danielmatthew/"
        >LinkedIn
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
    <li>
      <a rel="me external" href="https://noti.st/danielmatthew"
        >Notist
        <svg aria-hidden="true"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
  </ul>

  <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol viewBox="0 0 448 512" id="arrow"
      ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path
        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
      ></path></symbol
    ></svg
  >

  <!-- <section class="wrapper--projects">
      <h2 class="visually-hidden">Work</h2>
      <ol class="projects grid">
        {
          projects.map((project) => (
            <li class="card card--project">
              <div class="project-listing">
                <div class="card__cover">
                  <div class="thumb-grid">
                    {[...Array(9)].map(() => (
                      <div class="thumb-grid__thumb">
                        <img
                          src={project.data.img}
                          alt=""
                          class="cover__thumb"
                          height="50"
                          width="50"
                        />
                      </div>
                    ))}
                  </div>
                </div>
                <div class="card__content flow">
                  <a href={`/work/${project.slug}`} class="title">
                    {project.data.title}
                  </a>
                  <div class="meta">
                    <span class="org">Talis</span>
                    <time
                      class="date"
                      datetime={project.data.publishDate.toISOString()}
                    >
                      {project.data.projectDate}
                    </time>
                  </div>
                  <p>{project.data.description}</p>
                  <ul class="roles" role="list">
                    {project.data.tags.map((tag) => (
                      <li>{tag}</li>
                    ))}
                  </ul>
                </div>
              </div>
            </li>
          ))
        }
      </ol>

      <div class="card card--example">
        <Browser />
      </div>
      <div class="card card--example">
        <Volume/>
      </div>
    </section> -->

  <!-- <section class="talks wrapper--links">
      <h2>Talks</h2>
        <ol role="list" class="flow">
          <li>
            <a href="https://noti.st/danielmatthew/5fk25b/a11y-101">Accessibility 101</a>
            <time class="meta">Feb 2023</time>
          </li>

        <li>
          <a href="https://noti.st/danielmatthew/pocE5Y/accessibility-testing">Accessibility Testing</a>
          <span class="meta">BrumJS, &nbsp; <time>May 2018</time></span>
        </li>

        <li>
          <a href="https://noti.st/danielmatthew/hzSpy0/screenreader-accessibility">Screenreader Accessibility</a>
          <span class="meta">Codelicious, &nbsp;<time>July 2016</time></span>
        </li>

      </ol>
    </section> -->

  <!-- <section class="elsewhere wrapper--links">
      <h2>Elsewhere</h2>
        <ol role="list" class="flow">
          <li>
            <a href="https://talis.com/2020/09/24/why-we-think-accessibility-is-important/" rel="external">Why we think accessibility is important</a>
            <span class="meta">Talis</span>
          </li>

        <li>
          <a href="https://www.codeenigma.com/blog/interview-accessibility-expert-daniel-matthew" rel="external">Interview with an accessibility expert</a>
          <span class="meta">CodeEnigma</span>
        </li>

      </ol>
    </section> -->

  <!-- <div class="wrapper--quotes">
      <section class="quotes">
        <hgroup class="flow">
          <h2>Quotes</h2>
          <p>Some nice things people have said about me</p>
        </hgroup>
        <div class="quote-container js-at-start">
          <div class="quote-scroller" tabindex="0">
            {quotes.items.map((quote) => <Quote quote={quote} />)}
          </div>
        </div>
      </section>
    </div> -->
</HomeLayout>
