---
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";

const projects = await getCollection("work", ({ data }) => {
  return data.draft !== true;
});

---
<BaseLayout title="Work | Dan Matthew">
  <Hero title="Work"/>

  <ol class="projects grid content flow posts" role="list">
    {
      projects.map((project) => (
        <li class="card card--project">
          <div class="project-listing">
            <div class="card__content flow">
              <a href={`/work/${project.slug}`} class="title">
                {project.data.title}
              </a>
              <div class="meta">
                <span class="org">Talis</span>
                <time
                  class="date"
                  datetime={project.data.publishDate.toISOString()}
                >
                  {project.data.projectDate}
                </time>
              </div>
              <p>{project.data.description}</p>
              <ul class="roles" role="list">
                {project.data.tags.map((tag) => (
                  <li class="badge">{tag}</li>
                ))}
              </ul>
            </div>
          </div>
        </li>
      ))
    }
  </ol>
</BaseLayout>
