---
interface Props {
  fields: Object;
}

const { fields } = Astro.props.project;

if (Astro.props.index >= 3) {
  Astro.props.index = 0;
}

let src;

switch (Astro.props.index) {
  case 0:
    src = "combobox";
    break;
  case 1:
    src = "elevate";
    break;
  case 2:
    src = "forms";
  default:
    break;
}

const date = new Date(fields.date).toLocaleDateString("en-gb", {
  year: "numeric",
  month: "long",
});
---

<article class="card card--project">
  <img
    src={`../img/${src}@2x.png`}
    alt=""
    width="326"
    height="263"
    loading="lazy"
  />
  <div class="project-details">
    <a href={`/work/${fields.slug}`} class="title">{fields.title}</a>
    <div class="meta">
      <span class="org">Talis</span>
      <time class="date" datetime={fields.date}>{date}</time>
    </div>
  </div>
</article>
