---
interface Props {
  fields: Object;
}

const { fields } = Astro.props.project;

if (Astro.props.index >= 3) {
  Astro.props.index = 0;
}

let src;

switch (Astro.props.index) {
  case 0:
    src = 'combobox';
    break;
  case 1:
    src = 'elevate';
    break;
  case 2:
    src = 'forms';
  default:
    break;
}

const date = new Date(fields.date).toLocaleDateString('en-gb', {
  year: 'numeric',
  month: 'long',
});

---

<div class="card">
  <div class="thumbnail-backdrop">
    <img
      src={`../img/${src}@2x.png`}
      alt=""
      width="326"
      height="263"
      loading="lazy"
    >
  </div>
  <div class="project-details">
    <a href={`/work/${fields.slug}`} class="title">{fields.title}</a>
    <div class="meta">
      <span class="org">Talis</span>
      <time class="date" datetime={fields.date}>{date}</time>
    </div>
    <p>{fields.summary}</p>
  </div>
</div>

<style>
.card {
  position: relative;
  border-radius: var(--border-radius-m);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  will-change: transform;
  transform-style: preserve-3d;
  background-color: var(--color-theme-400);
}

.card:hover,
.card:focus-within {
  z-index: 1;
}

a {
    display: block;
    color: white;
    transition: transform 0.2s ease;
    text-decoration: underline;
    text-decoration-color: #FABD37;
    text-decoration-thickness: 2px;
    text-underline-offset: .2ex;
    text-decoration-skip-ink: auto;
    transition: text-underline-offset 0.2s ease;
  }

  a:hover {
    text-underline-offset: .3ex;
    transition: text-underline-offset 0.2s ease;
  }

  a:focus {
    outline: none;
  }

  a:hover:after,
  a:focus:after {
    outline: 2px solid #FABD37;
    outline-offset: 2px;
    border-radius: var(--border-radius-m);
  }


  a:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
  }

  .thumbnail-backdrop {
    background-color: #017d87;
    background-image: linear-gradient(to bottom, #017d87, var(--color-theme-300));
    margin: 0 auto var(--space-s);
    border-radius:  var(--border-radius-m) var(--border-radius-m) 0 0;
  }
  img {
    display: block;
    width: 100%;
    animation: 3s infinite alternate blob;
    animation-play-state: paused;
    object-fit: cover;
    mix-blend-mode: soft-light;
    border-radius:  var(--border-radius-m) var(--border-radius-m) 0 0;
  }

  .project-details {
    padding: 0 var(--space-xs) var(--space-s) ;

  }


  @keyframes blob {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.1) rotate(20deg);
    }
    100% {
      transform: scale(1);
      transform: scale(1) rotate(0deg);
    }
  }
  .title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: var(--step-1);
    margin-block-start: var(--space-2xs);
    line-height: var(--leading-tight);
  }
  .meta {
    display: flex;
    font-size: var(--step--1);
    margin-block-start: var(--space-3xs);
  }

  .meta > *:not(:last-child)::after {
    content: '·';
    padding-inline-start: var(--space-3xs);
    margin-inline-end: var(--space-3xs);
  }

  .meta > *+* {
    margin-top: 0;
  }

  time, .org {
  display: block;
}

  p {
    margin-block-start: var(--space-xs);
    line-height: var(--leading-tight);
  }

  @media (prefers-reduced-motion: no-preference) and (hover: hover) and (pointer: fine){
    img:has(+a:hover) {
    animation: 3s infinite alternate blob;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .card:hover,
  .card:focus-within {
    box-shadow: rgba(9, 11, 17, 0.01) 0px 28px 11px 0px, rgba(9, 11, 17, 0.03) 0px 16px 10px 0px, rgba(9, 11, 17, 0.05) 0px 7px 7px 0px, rgba(9, 11, 17, 0.06) 0px 2px 4px 0px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transform: scale(1.05);
  }
}
</style>
