---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<'work'>;
}

const { project } = Astro.props;

const date = new Date(data?.date).toLocaleDateString("en-gb", {
  year: "numeric",
  month: "long",
});

const fullLayout = Astro.props;
---

{
  fullLayout ? (
    <article class="">
      <div>
        <img src="https://placehold.it/300/300" alt="">
      </div>
      <div class="project-details">
        <a href={`/work/${fields.slug}`} class="title">
          {fields.title}
        </a>
        <div class="meta">
          <span class="org">Talis</span>
          <time class="date" datetime={fields.date}>
            {date}
          </time>
        </div>
      </div>
    </article>
  ) : (
    <div class="project-listing">
      <a href={`/work/${fields.slug}`} class="title">
        {fields.title}
      </a>
      <div class="meta">
        <span class="org">Talis</span>
        <time class="date" datetime={fields.date}>
          {date}
        </time>
      </div>
    </div>
  )
}
