---
// import { CollectionEntry, getCollection } from "astro:content";
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { BLOCKS } from '@contentful/rich-text-types';
import type { portfolioEntry } from '../../lib/contentful';

import BaseLayout from "../../layouts/BaseLayout.astro";

// interface Props {
//   entry: CollectionEntry<"work">;
// }

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  // const work = await getCollection("work");
  // return work.map((entry) => ({
  //   params: { slug: entry.slug },
  //   props: { entry },
  // }));

const renderOptions = {
  renderNode: {
    [BLOCKS.EMBEDDED_ASSET]: (node) => {
      return `<figure class="flow"><img class="img-fluid" src="${node.data.target.fields.file.url}" alt="${node.data.target.fields.title}" loading="lazy" />
        <figcaption>${node.data.target.fields.description}</figcaption>
        </figure>`;
    }
  }
}

  const entries = await contentfulClient.getEntries<portfolioEntry>({
    content_type: 'blogPost',
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      machineDate: item.fields.date,
      date: new Date(item.fields.date).toLocaleDateString('en-gb', {
        year: 'numeric',
        month: 'long',}),
      summary: item.fields.summary,
      content: documentToHtmlString(item.fields.portfolioContent, renderOptions),
    }
  }));

  return pages;
}

// Get list of projects to show in aside
const projects = await contentfulClient.getEntries<portfolioEntry>({
  content_type: 'blogPost',
  order: '-fields.date',
  include: 10
});

// const { entry } = Astro.props;
const { content, title, date, machineDate, summary } = Astro.props;
// const { Content } = await entry.render();
const cssModifier = 'work';
---

<BaseLayout title={`${title} | Dan Matthew`} modifier={cssModifier}>
  <header class="wrapper">
    <h1>{title}</h1>
    <div class="meta">
      <span class="org">Talis</span>
      <time datetime={machineDate}>{date}</time>
    </div>
  </header>
  <div class="layout">
    <main class="wrapper">
      <article class="content flow" >
        <p class="lede">{summary}</p>
        <Fragment set:html={content} />
      </article>
    </main>
  </div>
  <!-- <aside>
    <h2>In short…</h2>
    <p>{summary}</p>
    <h2>Related</h2>
    <ol role="list">
      {
        projects.items.map((project) => (
          <li>
            <a href={`/work/${project.fields.slug}`}>
              {project.fields.title}
            </a>
          </li>
        ))
      }
    </ol>
  </aside> -->
</BaseLayout>
<style>
  .content {
    font-size: var(--step-1);
  }

  .meta {
    display: flex;
    font-size: var(--step-0);
    margin-block-start: var(--space-s);
  }

  .meta > *:not(:last-child)::after {
    content: '·';
    padding-inline-start: var(--space-3xs);
    margin-inline-end: var(--space-3xs);
  }

  .meta > *+* {
    margin-top: 0;
  }
  aside {
    font-size: var(--step--1);
  }

  aside p {
    margin-top: 0;
    margin-bottom: var(--space-s);
  }
  aside h2 {
    font-size: var(--step-0);
    margin-bottom: var(--space-3xs)
  }
  [role=list] {
    padding: 0;
    list-style: none;
  }
</style>
