---
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import Hero from "../../components/Hero.astro";
import { number } from "astro/zod";
interface Props {
  entry: CollectionEntry<"work">;
}

export async function getStaticPaths() {
  const work = await getCollection("work", ({data}) => {
    return data.draft !== true;
  });

  const numberOfPosts = work.length;

  return work.map((entry, index) => ({
    params: { slug: entry.slug },
    props: {
      entry,
      prevPost:
        index + 1 === numberOfPosts
        ? { frontmatter: ''}
        : work[index + 1],
      nextPost:
        index === 0
        ? { frontmatter: ''}
        : work[index - 1],
    },
  }));
}

const { entry, prevPost, nextPost } = Astro.props;
const { Content, headings } = await entry.render();
---

<BaseLayout
  title={entry.data.title}
>
  <Hero title={entry.data.title}>
    <div slot="header-extras">
      <div class="meta">
        <span class="org">Talis</span>
        <time datetime={entry.data.publishDate.toISOString()}>
          {entry.data.projectDate}
        </time>
      </div>
      {
        entry.data.tags && (
          <ul class="roles">
            {entry.data.tags.map((role) => (
              <li>{role}</li>
            ))}
          </ul>
        )
      }
  </div>

  </Hero>

  <main class="wrapper" id="content">
    <article>
      <section class="layout">

        <div class="summary flow">
          <strong>TL; DR</strong>
          <p class="lede">
            {entry.data.description}
          </p>
        </div>

        <TableOfContents headings={headings} />

        <div class="content flow">
          <Content />

        </div>
      </section>
    </article>
    <nav class="pagination" aria-label="Other work">
      {prevPost.slug &&
        <a href={`/work/${prevPost.slug}/`}>
          {prevPost.data.title}
        </a>
      }
      {nextPost.slug &&
        <a href={`/work/${nextPost.slug}/`}>
          {nextPost.data.title}
        </a>
      }
    </nav>
  </main>
</BaseLayout>
